<div class="alternative">
  <%= link_to 'МРЭК', districts_path, class: 'btn btn-primary btn-lg' %>

  <%= link_to 'Минская ЦРБ', patients_path, class: 'btn btn-primary btn-lg', style: 'margin-left: 60px;' %>
</div>
